body
{
    padding-top: 0px;
}

h1
{
    color: #FFFFFF;
    text-shadow: 2px 2px 4px #000000;
}

.headerStyle
{
    background-color: #0070C0;
    height: 100px;
    padding-top: 20px;
}

.titleStyle
{
    
    display: block;
}
.titleStyle h2
{
    font-family: 'Roboto Condensed', sans-serif;
    color: #4c4c4c;
    font-size: 24px;
    font-weight: 600;
}
